<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.one.doc.dao.DocumentMapper">
  <resultMap id="BaseResultMap" type="com.one.doc.entity.Document">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="document_id" jdbcType="INTEGER" property="documentId" />
    <result column="version_id" jdbcType="INTEGER" property="versionId" />
    <result column="history_document_id" jdbcType="VARCHAR" property="historyDocumentId" />
    <result column="document_name" jdbcType="VARCHAR" property="documentName" />
    <result column="document_secret_level" jdbcType="VARCHAR" property="documentSecretLevel" />
    <result column="document_release_number" jdbcType="VARCHAR" property="documentReleaseNumber" />
    <result column="document_release_time" jdbcType="VARCHAR" property="documentReleaseTime" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="operate_remarks" jdbcType="VARCHAR" property="operateRemarks" />
    <result column="operate_type" jdbcType="VARCHAR" property="operateType" />
    <result column="category_value_1" jdbcType="VARCHAR" property="categoryValue1" />
    <result column="category_value_2" jdbcType="VARCHAR" property="categoryValue2" />
    <result column="category_value_3" jdbcType="VARCHAR" property="categoryValue3" />
    <result column="document_text" jdbcType="VARCHAR" property="documentText" />
    <result column="picture_link" jdbcType="VARCHAR" property="pictureLink" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, document_id, version_id, history_document_id, document_name, document_secret_level, 
    document_release_number, document_release_time, operator_name, operate_time, operate_remarks, 
    operate_type, category_value_1, category_value_2, category_value_3, document_text, 
    picture_link
  </sql>
  <select id="selectByExample" parameterType="com.one.doc.entity.DocumentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from document
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from document
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from document
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.one.doc.entity.Document" useGeneratedKeys="true">
    insert into document (document_id, version_id, history_document_id, 
      document_name, document_secret_level, document_release_number, 
      document_release_time, operator_name, operate_time, 
      operate_remarks, operate_type, category_value_1, 
      category_value_2, category_value_3, document_text, 
      picture_link)
    values (#{documentId,jdbcType=INTEGER}, #{versionId,jdbcType=INTEGER}, #{historyDocumentId,jdbcType=VARCHAR}, 
      #{documentName,jdbcType=VARCHAR}, #{documentSecretLevel,jdbcType=VARCHAR}, #{documentReleaseNumber,jdbcType=VARCHAR}, 
      #{documentReleaseTime,jdbcType=VARCHAR}, #{operatorName,jdbcType=VARCHAR}, #{operateTime,jdbcType=TIMESTAMP}, 
      #{operateRemarks,jdbcType=VARCHAR}, #{operateType,jdbcType=VARCHAR}, #{categoryValue1,jdbcType=VARCHAR}, 
      #{categoryValue2,jdbcType=VARCHAR}, #{categoryValue3,jdbcType=VARCHAR}, #{documentText,jdbcType=VARCHAR}, 
      #{pictureLink,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.one.doc.entity.Document" useGeneratedKeys="true">
    insert into document
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="documentId != null">
        document_id,
      </if>
      <if test="versionId != null">
        version_id,
      </if>
      <if test="historyDocumentId != null">
        history_document_id,
      </if>
      <if test="documentName != null">
        document_name,
      </if>
      <if test="documentSecretLevel != null">
        document_secret_level,
      </if>
      <if test="documentReleaseNumber != null">
        document_release_number,
      </if>
      <if test="documentReleaseTime != null">
        document_release_time,
      </if>
      <if test="operatorName != null">
        operator_name,
      </if>
      <if test="operateTime != null">
        operate_time,
      </if>
      <if test="operateRemarks != null">
        operate_remarks,
      </if>
      <if test="operateType != null">
        operate_type,
      </if>
      <if test="categoryValue1 != null">
        category_value_1,
      </if>
      <if test="categoryValue2 != null">
        category_value_2,
      </if>
      <if test="categoryValue3 != null">
        category_value_3,
      </if>
      <if test="documentText != null">
        document_text,
      </if>
      <if test="pictureLink != null">
        picture_link,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="documentId != null">
        #{documentId,jdbcType=INTEGER},
      </if>
      <if test="versionId != null">
        #{versionId,jdbcType=INTEGER},
      </if>
      <if test="historyDocumentId != null">
        #{historyDocumentId,jdbcType=VARCHAR},
      </if>
      <if test="documentName != null">
        #{documentName,jdbcType=VARCHAR},
      </if>
      <if test="documentSecretLevel != null">
        #{documentSecretLevel,jdbcType=VARCHAR},
      </if>
      <if test="documentReleaseNumber != null">
        #{documentReleaseNumber,jdbcType=VARCHAR},
      </if>
      <if test="documentReleaseTime != null">
        #{documentReleaseTime,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null">
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateRemarks != null">
        #{operateRemarks,jdbcType=VARCHAR},
      </if>
      <if test="operateType != null">
        #{operateType,jdbcType=VARCHAR},
      </if>
      <if test="categoryValue1 != null">
        #{categoryValue1,jdbcType=VARCHAR},
      </if>
      <if test="categoryValue2 != null">
        #{categoryValue2,jdbcType=VARCHAR},
      </if>
      <if test="categoryValue3 != null">
        #{categoryValue3,jdbcType=VARCHAR},
      </if>
      <if test="documentText != null">
        #{documentText,jdbcType=VARCHAR},
      </if>
      <if test="pictureLink != null">
        #{pictureLink,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.one.doc.entity.Document">
    update document
    <set>
      <if test="documentId != null">
        document_id = #{documentId,jdbcType=INTEGER},
      </if>
      <if test="versionId != null">
        version_id = #{versionId,jdbcType=INTEGER},
      </if>
      <if test="historyDocumentId != null">
        history_document_id = #{historyDocumentId,jdbcType=VARCHAR},
      </if>
      <if test="documentName != null">
        document_name = #{documentName,jdbcType=VARCHAR},
      </if>
      <if test="documentSecretLevel != null">
        document_secret_level = #{documentSecretLevel,jdbcType=VARCHAR},
      </if>
      <if test="documentReleaseNumber != null">
        document_release_number = #{documentReleaseNumber,jdbcType=VARCHAR},
      </if>
      <if test="documentReleaseTime != null">
        document_release_time = #{documentReleaseTime,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null">
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateRemarks != null">
        operate_remarks = #{operateRemarks,jdbcType=VARCHAR},
      </if>
      <if test="operateType != null">
        operate_type = #{operateType,jdbcType=VARCHAR},
      </if>
      <if test="categoryValue1 != null">
        category_value_1 = #{categoryValue1,jdbcType=VARCHAR},
      </if>
      <if test="categoryValue2 != null">
        category_value_2 = #{categoryValue2,jdbcType=VARCHAR},
      </if>
      <if test="categoryValue3 != null">
        category_value_3 = #{categoryValue3,jdbcType=VARCHAR},
      </if>
      <if test="documentText != null">
        document_text = #{documentText,jdbcType=VARCHAR},
      </if>
      <if test="pictureLink != null">
        picture_link = #{pictureLink,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.one.doc.entity.Document">
    update document
    set document_id = #{documentId,jdbcType=INTEGER},
      version_id = #{versionId,jdbcType=INTEGER},
      history_document_id = #{historyDocumentId,jdbcType=VARCHAR},
      document_name = #{documentName,jdbcType=VARCHAR},
      document_secret_level = #{documentSecretLevel,jdbcType=VARCHAR},
      document_release_number = #{documentReleaseNumber,jdbcType=VARCHAR},
      document_release_time = #{documentReleaseTime,jdbcType=VARCHAR},
      operator_name = #{operatorName,jdbcType=VARCHAR},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      operate_remarks = #{operateRemarks,jdbcType=VARCHAR},
      operate_type = #{operateType,jdbcType=VARCHAR},
      category_value_1 = #{categoryValue1,jdbcType=VARCHAR},
      category_value_2 = #{categoryValue2,jdbcType=VARCHAR},
      category_value_3 = #{categoryValue3,jdbcType=VARCHAR},
      document_text = #{documentText,jdbcType=VARCHAR},
      picture_link = #{pictureLink,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getLastDocument" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from document order by document_id desc limit 1;
  </select>
</mapper>